## Palabras

In [ ]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [95]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
for palabra in words:
 for letra in palabra:
     print(letra.capitalize())

P
L
A
Y
F
I
L
L
I
N
G
B
A
R
T
H
E
A
T
R
E
E
A
S
Y
G
O
I
N
G
D
A
T
E
L
E
A
D
T
H
A
T
S
T
O
R
Y
I
S
L
A
N
D

**Crea una nueva lista que contenga 5 o más letras**

In [99]:
words2 = ['sol', 'luna', 'nube', 'trueno', 'lluvia', 'tormenta', 'cielo']

**Imprime la primera palabra que empiece por 't'**

In [101]:
for i in words2:
    if i.startswith("t"):
        print(i)
        break

trueno

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [16]:
# tu codigo aquí
cuadrados = []
for i in range(0,11):
    cuadrados.append(i**2)
cuadrados

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [28]:
# tu codigo aquí
cuadrados_impares = []
for i in range(0,11):
    if (i % 2 != 0):
        cuadrados_impares.append(i**2)
cuadrados_impares

[1, 9, 25, 49, 81]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [38]:
# tu codigo aquí
cuadrados_8 = []
for i in range (1,1001):
    if(i % 8 == 0):
        cuadrados_8.append(i**2)
cuadrados_8

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064,
 1000000]

## People

In [52]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [61]:
# your code here
len(people)

5

**Cuanta gente tiene hijos**?

In [63]:
# your code here
people_with_kids = 0
for list_item in people:
    if list_item.get("n_kids") > 0:
        people_with_kids +=1
people_with_kids

4

**Cuantos hijos tienen en total?**

In [105]:
# your code here
total_hijos = 0
for list_item in people:
        total_hijos +=list_item.get("n_kids")
total_hijos

10

total_hijos = 0
for list_item in people:
        total_hijos +=list_item.get("n_kids")
total_hijos**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [108]:
# your code here
people_next_year = []
people_next_year.extend(people)
for i, list_item in enumerate(people_next_year):
        if list_item.get("name").endswith("a"):
            people_next_year[i] = {"name": list_item.get("name"),
                                  "age": list_item.get("age"),
                                  "n_kids": list_item.get("n_kids")+1}
            
people_next_year

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]